#intellij
.idea/
*.iml
*.iws

# Maven
target/

#pyc
*.pyc

#logs
*.logs

#javacc output folders
src/main/java/esl/cuenet/mapper/parser/
src/main/java/esl/cuenet/model/pattern/
src/main/java/esl/cuenet/query/pattern/parser/

